/* HERO SECTION  */

.hero-section {
    min-height: 50vh;
    background: url('../public/assets/hero-bg.png'), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: 25%;
    position: relative;
    padding: 16px;
    width: 100vw;
    overflow: hidden;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 16px;
}

.menu-icon-btn {
    background-color: transparent;
    border: none;
}

.menu-icon-btn>img {
    width: 36px;
}

.mobile-menu {
    display: none;
}

.overlay-content {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 70vh;
    z-index: 9;
    position: fixed;
    width: 0;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all .5s;
}

.overlay-content>li {
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.overlay-content>li:hover {
    background-color: #fff;
}

.overlay-content>li>a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 28px;
}

.overlay-content>li>a:hover {
    color: black;
}

.close-menu-btn {
    font-size: 30px;
    color: var(--highlight-title-color);
    text-decoration: none;
}

.desktop-header {
    display: none;
}

.show-desktop-header {
    display: flex;
}

.ellipse {
    background-size: cover;
    position: absolute;
}

.ellipse-one {
    background-image: url('../public/assets/ellipse-one.png');
    width: 158px;
    height: 158px;
    left: 10%;
    top: 20%;
}

.ellipse-two {
    background-image: url('../public/assets/ellipse-two.png');
    width: 106px;
    height: 106px;
    left: 80%;
    top: 30%;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    font-family: K2D;
    gap: 20px;
    width: 100%;
}

.text-box {
    width: 100%;
    display: flex;
}

.text-box:nth-child(1) {
    justify-content: start;
}

.text-box:nth-child(2) {
    justify-content: end;
}

.text-box:nth-child(3) {
    justify-content: end;
}

.text-box:nth-child(4) {
    justify-content: end;
}

.title-one {
    color: var(--primary-text-color);
    text-transform: uppercase;
    width: 265px;
    font-size: 36px;
    font-weight: 800;
}

.title-two {
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 36px;
    width: 265px;
    text-align: end;
}

.title-one>span,
.title-two>span {
    color: var(--highlight-title-color);
}

.title-three {
    color: var(--primary-text-color);
    text-align: end;
    font-size: 16px;
    font-weight: 500;
}

.text-box>hero-section-btn {
    position: relative;
    left: 38%;
}

@media screen and (min-width: 640px) {

    .hero-section {
        padding: 44px;
    }

    .ellipse-one {
        width: 250px;
        height: 250px;
    }

    .ellipse-two {
        width: 156px;
        height: 156px;
    }

    .title-one,
    .title-two {
        font-size: 44px;
    }

    .title-three {
        font-size: 24px;
    }

}


@media screen and (min-width: 768px) {

    .hero-section {
        padding: 52px;
    }

    .ellipse-one {
        width: 270px;
        height: 270px;
    }

    .ellipse-two {
        width: 200px;
        height: 200px;
    }

    .title-one,
    .title-two {
        font-size: 52px;
    }

    .title-three {
        font-size: 32px;
    }

}


@media screen and (min-width: 1024px) {

    .menu-icon-btn {
        display: none;
    }

    .header-wrapper {
        display: none;
    }

    .desktop-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-bottom: 60px;
    }

    .desktop-header>ul {
        list-style: none;
        display: flex;
    }

    .desktop-header>ul>li {
        margin-left: 40px;
    }

    .desktop-header>ul>li>a {
        text-decoration: none;
        color: var(--primary-text-color);
        font-size: 16px;
        font-weight: 400;
        position: relative;
    }

    .desktop-header>ul>li>a::after {
        content: " ";
        position: absolute;
        background-color: #fff;
        width: 0%;
        height: 1px;
        left: 0;
        bottom: 0;
        transition: 0.5s ease-in-out;
    }

    .desktop-header>ul>li>a:hover::after {
        width: 100%;
    }

    .ellipse-one {
        width: 398px;
        height: 398px;
    }

    .ellipse-two {
        width: 287px;
        height: 287px;
    }

    .title-one,
    .title-two {
        font-size: 56px;
        width: 600px;
    }

    .title-three {
        font-size: 32px;
    }

    .primary-btn-mobile {
        width: 270px;
    }

}

@media screen and (min-width: 1280px) {

    .hero-section {
        padding: 30px 60px;
        width: 100vw;
    }

    .desktop-header {
        margin: 0 auto;
        margin-bottom: 90px;
        width: 80%;
    }


    .ellipse-one {
        width: 488px;
        height: 488px;
    }

    .ellipse-two {
        width: 287px;
        height: 287px;
        left: 70%;
        top: 40%;
    }

    .text-wrapper {
        width: 1325px;
        margin: 0 auto;
    }

    .title-one,
    .title-two {
        font-size: 70px;
        width: 700px;
    }

    .title-three {
        font-size: 32px;
    }

}

/* HERO SECTION END  */

/* ABOUT US SECTION  */

.about-us {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.about-us-text>h2 {
    color: #333;
    font-size: 32px;
    font-weight: 500;
    z-index: 4;
    height: 50vh;
    width: fit-content;
    margin-top: 20px;
    position: relative;
    left: 5%;
}

.about-us-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-left: 10px;
    background-image: url('../public/assets/squares-bg.png');
    background-repeat: no-repeat;
}

.about-us-text>p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.aboutus-img1 {
    position: absolute;
    top: 9.7%;
    left: 22%;
    z-index: 4;
}

.aboutus-img1>img {
    width: 272px;
    height: 178px;
}

.aboutus-img2 {
    position: absolute;
    top: 21.5%;
    left: 8.5%;
    z-index: 4;
}

.aboutus-img2>img {
    width: 193px;
    height: 130px;
}

.aboutus-img2-rec {
    position: absolute;
    top: 20.5%;
    left: 11%;
    z-index: 5;
}

.aboutus-img2-rec>img {
    width: 192px;
    height: 126px;
}

.clients-wrapper {
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients-wrapper>h3 {
    color: #333;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    z-index: 4;
    text-align: center;
}

.clients-mobile-logo {
    width: 60%;
}

.clients-desktop-logo {
    display: none;
}


@media screen and (min-width: 640px) {
    .about-us-text>h2 {
        height: 40vh;
        margin-top: 28px;
        text-align: center;
    }

    .aboutus-img1 {
        top: 15%;
        left: 32%;
    }

    .aboutus-img2 {
        top: 25.5%;
        left: 18.5%;
    }

    .aboutus-img2-rec {
        top: 22.5%;
        left: 21%;
    }

    .about-us>h3 {
        margin: 90px 0 20px 0;
    }

    .clients-mobile-logo {
        display: none;
    }

    .clients-desktop-logo {
        display: flex;
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .about-us>h2 {
        font-size: 38px;
    }

    .about-us>h3 {
        margin: 100px 0 20px 0;
        font-size: 32px;
    }
}


@media screen and (min-width: 1024px) {

    .about-us-text {
        background-position-x: 10px;
        background-position-y: 60px;
        background-size: 80%;
    }

    .about-us-text>h2 {
        font-size: 54px;
        position: relative;
        left: 32%;
        height: 45vh;
        z-index: 6;
    }

    .about-us-text>h2>span {
        color: #D9D9D9;
    }

    .about-us-text>p {
        width: 412px;
        font-size: 12px;
        position: relative;
        top: -160px;
        left: 50px;
    }

    .aboutus-img1 {
        left: 48%;
        top: 6%;
    }

    .aboutus-img1>img {
        width: 409px;
        height: 273px;
    }

    .aboutus-img2 {
        top: 46.5%;
        left: 39.5%;
    }

    .aboutus-img2>img {
        width: 226px;
        height: 144px;
    }

    .aboutus-img2-rec {
        top: 45.5%;
        left: 42%;
    }

    .aboutus-img2-rec>img {
        width: 223px;
        height: 146px;
    }

    .about-us>h3 {
        color: #333;
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {

    .about-us-text {
        padding-left: 0;
    }

    .about-us-text>h2 {
        font-size: 64px;
        left: 37.9%;
        top: 100px;
        height: 80vh;
    }

    .about-us-text>p {
        width: 512px;
        left: 20%;
        font-size: 16px;
        top: -500px;
    }

    .aboutus-img1 {
        left: 48%;
        top: 10%;
    }

    .aboutus-img1>img {
        width: 709px;
        height: 473px;
    }

    .aboutus-img2 {
        top: 44.5%;
        left: 39.5%;
    }

    .aboutus-img2>img {
        width: 486px;
        height: 324px;
    }

    .aboutus-img2-rec {
        top: 41.5%;
        left: 42%;
    }

    .about-us>h3 {
        font-size: 64px;
        text-align: start;
        padding-left: 200px;
    }

    .aboutus-img2-rec>img {
        width: 484px;
        height: 315px;
    }
}

/* END ABOUT US SECTION  */

/* OUR PROJECTS SECTION  */

.our-projects {
    background: linear-gradient(180deg, #020012 0%, #040011 100%);
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.our-projects>h3 {
    color: var(--primary-text-color);
    font-size: 32px;
    font-weight: 500;
}

.projects-wrapper {
    display: grid;
    gap: 10px;
    justify-items: center;
}

.project-card>span {
    display: none;
}

.project-card>p {
    color: #CFFF11;
    font-size: 20px;
    font-weight: 500;
    height: 81px;
    padding: 8px 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 30px;
    background: rgba(166, 129, 242, 0.30);
    backdrop-filter: blur(5.5px);
    width: max-content;
}

.achievements {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 54px;
    align-items: center;
    text-align: center;
}

.achievement-wrapper>h3 {
    color: var(--primary-text-color);
    font-size: 64px;
    line-height: 80px
}

.achievement-wrapper>span {
    color: var(--primary-text-color);
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .projects-wrapper {
        grid-template-columns: 300px 300px;
    }

}

@media screen and (min-width: 1024px) {
    .projects-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 23px;
        position: relative;
        max-width: vw;
        flex-wrap: wrap;
    }

    .projec-card {
        position: relative;
    }

    .project-card>span {
        border-radius: 40px;
        background: rgba(166, 129, 242, 0.30);
        position: relative;
        height: 116px;
        padding: 8px 42px;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        z-index: 1;
        top: 116px;
        left: -10px;
    }

    .project-card>p {
        color: #CFFF11;
        font-size: 32px;
        font-weight: 500;
        height: 116px;
        padding: 8px 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 40px;
        position: relative;
        z-index: 2;
    }

    .achievements {
        flex-direction: row;
        margin-top: 100px;
    }
}

@media screen and (min-width: 1280px) {

    .project-card:nth-child(2),
    .project-card:nth-child(4),
    .project-card:nth-child(5) {
        position: relative;
        top: 50px;
    }

}

/* END OUR PROJECT SESSION  */

/* CARROUSEL SECTION  */

.carrousel {
    position: relative;
    min-height: 262px;
    width: 100%;
}

.gallery-wrapper {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.gallery {
    display: flex;
    flex-flow: row nowwrap;
}

.item {
    width: 390px;
    height: 262px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
    position: relative;
}

.current-item {
    opacity: 1;
}

.img-item {
    width: 390px;
    height: 262px;
}

.item>span {
    position: absolute;
    left: 16px;
    bottom: 75px;
    color: var(--primary-text-color);
    font-family: Kanit;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4.6px;
}

.item-cap {
    position: absolute;
    left: 10px;
    bottom: 28px;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #F2F2F2;
    background-color: transparent;
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4.6px;
}

.arrow-left {
    transform: rotate(180deg);
}

@media screen and (min-width: 1024px) {

    .item {
        width: 687px;
        height: 458px;
    }

    .img-item {
        width: 687px;
        height: 458px;
    }
}

/* END CARROUSEL  */

/* TESTIMONIALS SECTION  */


.testimonials {
    padding: 20px 0 0 0;
    min-height: 80vh;
    background-image: url('../public/assets/testimonials-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.testimonials-bg {
    display: none;
}

.testimonials>h3 {
    color: var(--primary-text-color);
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
}

.testimonials-wrapper {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: transparent;
    position: relative;
    width: 100%;
    padding-left: 20px;
}

.testimonials-wrapper::-webkit-scrollbar {
    display: none;
}

.testimonials-gallery {
    display: flex;
    flex-flow: row nowwrap;
    gap: 20px;
    background: none;
}

.testimonial-card {
    width: 215px;
    min-height: fit-content;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 32px;
    padding: 42px;
    border: 1px solid #FFF;
    position: relative;
}

.testimonial-card>p {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
}

.testimonial-card>span {
    color: #FFF;
    font-family: Kanit;
    font-size: 12px;
    font-weight: 400;
}

.current-testimonial-item {
    background: rgba(56, 55, 55, 0.15);
    border-color: var(--highlight-title-color);
}

.testimonials>.buttons-wrapper {
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: center;
}

.testimonials>.buttons-wrapper>button {
    padding: 14px 24px;
    border-radius: 40px;
    border: 1px solid #F5F5F5;
    cursor: pointer;
    background-color: transparent;
}

.testimonials>.buttons-wrapper>button:hover {
    background: rgba(242, 242, 242, 0.46);
    backdrop-filter: blur(4.5px);
}

.bg-square {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: start;
    background-image: url('../public/assets/squares-bg.png');
}


@media screen and (min-width: 1024px) {

    .testimonial-card {
        width: 352px;
        height: 436px;
        padding: 42px;
    }

    .testimonials-gallery {
        justify-content: center;
        margin: 10px 0 10px 0;
    }

    .testimonial-card>p {
        font-size: 28px;
    }

    .testimonial-card>span {
        font-size: 14px;
    }

    .buttons-wrapper {
        position: relative;
        z-index: 3;
    }

    .testimonials>.buttons-wrapper {
        justify-content: end;
        padding-right: 130px;
        z-index: 3;
    }

    .bg-square {
        background-image: none;
    }

}

@media screen and (min-width: 1280px) {
    .testimonial-card {
        width: 392px;
        height: 476px;
        padding: 42px;
    }


    .testimonial-card>p {
        font-size: 32px;
    }

    .testimonial-card>span {
        font-size: 16px;
    }

    .testimonials-bg {
        bottom: -490px;
        left: -20px;
    }
}


/* END TESTIMONIALS SECTION  */

.book-a-call-section {
    min-height: fit-content;
    padding: 40px 20px 100px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
}

.book-a-call-section>p {
    color: #4D2C6B;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.testimonials-bg{
    display: none;
}

@media screen and (min-width: 1024px) {
    .book-a-call-section {
        min-height: 50vh;
        padding: 50px 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .book-a-call-section>p {
        font-size: 32px;
        width: 700px;
        letter-spacing: -0.32px;
    }

    .testimonials-bg{
        display: flex;
    }

    .testimonials-bg > img{
        position: absolute;
        z-index: 2;
        left: 0;
        top: -230px;
        width: 80%;
    }
    
}

@media screen and (min-width: 1280px) {

    .book-a-call-section>p {
        font-size: 64px;
        width: 1223px;
        line-height: 80px;
        letter-spacing: -0.32px;
    }
}

/* END BOOK A CALL SECTION  */

/* FOOTER  */

footer {
    background-color: #28103E;
    height: min-content;
    padding: 42px 8px 24px 8px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.feedback-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback-section>h4 {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.feedback-section>span {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.feedback-section>span:last-child {
    color: #E9CE40;
}

.address-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.address-section>span {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.address-section>span:first-child {
    color: #E9CE40;
}

.navs-footer {
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 0 20px;
}

.navbar-section>ul,
.social-section>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.navbar-section>ul>li>a,
.social-section>ul>li>a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
}

.social-section>ul>li>span {
    color: #E9CE40;
}

.newsletter-section {
    display: none;
}

.copyright-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-section>span {
    color: #B1B1B1;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}


@media screen and (min-width: 1024px) {
    footer {
        padding: 42px 20px;
        flex-direction: row;
        gap: 12px;
        align-items: start;
        position: relative;
        justify-content: space-around;
    }

    .feedback-section {
        align-items: start;
        justify-content: center;
    }

    .feedback-section>h4 {
        font-size: 24px;
        text-align: start;
    }

    .feedback-section>span {
        font-size: 16px;
    }


    .address-section {
        align-items: start;
    }

    .address-section>span {
        text-align: start;
        font-size: 14px;
    }

    .navbar-section>ul>li>a,
    .social-section>ul>li>a {
        font-size: 14px;
    }

    .social-section>ul>li>span {
        font-size: 14px;
    }

    .newsletter-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .newsletter-section>h3 {
        color: var(--primary-text-color);
        font-size: 24px;
        font-weight: 500;
    }

    .copyright-section {
        position: absolute;
        bottom: 15px;
        left: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .newsletter-section>h3 {
        font-size: 32px;

    }
}