/* HERO SECTION  */

.hero-section {
    min-height: 552px;
    background: url('../public/assets/hero-bg.png'), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: 25%;
    position: relative;
    padding: 16px;
    width: 100vw;
    overflow: hidden;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 16px;
}

.menu-icon-btn{
    background-color: transparent;
    border: none;
}

.menu-icon-btn > img{
    width: 36px;
}

.mobile-menu{
    display: none;
}

.overlay-content{
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 70vh;
    z-index: 9;
    position: fixed;
    width: 0;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all .5s;
}

.overlay-content > li {
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.overlay-content > li:hover{
    background-color: #fff;
}

.overlay-content > li > a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 28px;
}

.overlay-content>li>a:hover{
    color: black;
}

.close-menu-btn{
    font-size: 30px;
    color: var(--highlight-title-color);
    text-decoration: none;
}

.desktop-header{
    display: none;
}

.show-desktop-header{
    display: flex;
}

.ellipse {
    background-size: cover;
    position: absolute;
}

.ellipse-one {
    background-image: url('../public/assets/ellipse-one.png');
    width: 158px;
    height: 158px;
    left: 10%;
    top: 20%;
}

.ellipse-two {
    background-image: url('../public/assets/ellipse-two.png');
    width: 106px;
    height: 106px;
    left: 80%;
    top: 30%;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: center; */
    position: relative;
    font-family: K2D;
    gap: 20px;
    /* width: 80%; */
}

.text-box{
    width: 100%;
    display: flex;
}

.text-box:nth-child(1){
    justify-content: start;
}

.text-box:nth-child(2){
    justify-content: end;
}

.text-box:nth-child(3){
    justify-content: end;
}

.text-box:nth-child(4){
    justify-content: end;
}

.title-one {
    color: var(--primary-text-color);
    text-transform: uppercase;
    width: 265px;
    font-size: 36px;
    font-weight: 800;
}

.title-two {
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 36px;
    width: 265px;
    text-align: end;
}

.title-one>span, .title-two > span {
    color: var(--highlight-title-color);
}

.title-three {
    color: var(--primary-text-color);
    text-align: end;
    font-size: 16px;
    font-weight: 500;
}

.text-box > hero-section-btn{
    position: relative;
    left: 38%;
}

@media screen and (min-width: 640px){

    .hero-section{
        padding: 44px;
    }

    .ellipse-one {
        width: 250px;
        height: 250px;
    }
    
    .ellipse-two {
        width: 156px;
        height: 156px;
    }
    
    .title-one, .title-two{
        font-size: 44px;
    }

    .title-three{
        font-size: 24px;
    }
    
}